@charset "UTF-8";

/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
  line-height: 1.5;
  /* 5 */
  word-break: break-word;
  cursor: default;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */

hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  padding: 0;
  list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * Collapse border spacing in all browsers (opinionated).
 */

table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */

fieldset {
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #a0a0a0;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  color: inherit;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */

textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  border: solid;
  background-color: white;
  color: black;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-family: "slick";
  font-style: normal;
  font-weight: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  font-size: 0px;
  line-height: 0px;
  cursor: pointer;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  display: block;
  position: absolute;
  bottom: -25px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 0;
  outline: none;
  background: transparent;
  color: transparent;
  font-size: 0px;
  line-height: 0px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  color: black;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  content: "•";
  opacity: 0.25;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */

.slick-slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.slick-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
  float: left;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36.65248px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22.65248px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.08em;
}

a {
  text-decoration: none;
}

.dummyClass {
  color: #f00;
}

.dummyClass:hover {
  color: #00f;
  text-decoration: none;
}

.item {
  max-width: 200px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#ff6666));
  background-image: linear-gradient(to bottom, #f00 0%, #ff6666 100%);
}

.dummyClass {
  z-index: 100;
}

.links_ul {
  margin: 20px;
}

.links_ul li {
  margin: 0 0 1px;
  list-style-type: none;
}

.links_ul li a {
  display: block;
  position: relative;
  padding: 15px;
  background: #eee;
  color: #333;
  text-decoration: none;
}

.links_ul li a::before {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 3px solid #333;
  border-right: 3px solid #333;
  content: "";
}

.pfMain {
  padding: 30px 2px;
  background: #000;
}

.pfMain h3,
.pfMain p {
  margin: 0 0 0 8px;
  color: #fff;
}

.pfMain h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
}

.pfMain h3 {
  margin-bottom: 8px;
}

.pfMain p {
  margin-bottom: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
}

.pfMain_wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pfMain_gallery {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.pfMain_gallery figure {
  width: 50%;
  margin: 0;
  padding: 2px;
}

.pfMain_gallery figure img {
  max-width: 100%;
  max-height: 100%;
}

.header_bg {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header_bg_slide {
  min-height: 450px;
  padding: 0;
}

.header_bg_slide div {
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_bg_slide .bgimg_001 {
  background-image: url(/images/bgimg_001.jpg);
}

.header_bg_slide .bgimg_002 {
  background-image: url(/images/bgimg_002.jpg);
}

.header_bg_slide .bgimg_003 {
  background-image: url(/images/bgimg_003.jpg);
}

.header_bg_slide .bgimg_004 {
  background-image: url(/images/bgimg_004.jpg);
}

.header_bg_slide .bgimg_005 {
  background-image: url(/images/bgimg_005.jpg);
}

.header_bg_scrIcon {
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  margin: 0;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.8));
}

.header_bg_scrIcon p {
  position: relative;
  width: 20px;
  max-height: 91px;
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.header_bg_scrIcon .animeIcon {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  width: 20px;
  overflow: hidden;
}

.header_bg_scrIcon .animeIcon .circle {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-animation: scrlDown 2.5s ease 0s infinite normal;
          animation: scrlDown 2.5s ease 0s infinite normal;
}

.header_bg_scrIcon .animeIcon .line {
  position: relative;
  top: -95px;
  left: 50%;
  width: 1.5px;
  height: 80px;
  background: #fff;
  -webkit-animation: scrlDown 2.5s ease 0s infinite normal;
          animation: scrlDown 2.5s ease 0s infinite normal;
}

@-webkit-keyframes scrlDown {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 180px, 0);
            transform: translate3d(-50%, 180px, 0);
  }
}

@keyframes scrlDown {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 180px, 0);
            transform: translate3d(-50%, 180px, 0);
  }
}

.header_trg {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  border-top: 37px solid rgba(15, 37, 64, 0.7);
  border-right: 60px solid rgba(15, 37, 64, 0.7);
  border-bottom: 37px solid transparent;
  border-left: 60px solid transparent;
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.header_hmg {
  z-index: 100;
  position: fixed;
  top: 10px;
  right: 15px;
}

.header_hmg p {
  display: none;
}

.header_hmg_btn {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header_hmg_btn span {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.header_hmg_btn span:nth-child(1) {
  top: 30%;
}

.header_hmg_btn span:nth-child(2) {
  bottom: 30%;
}

.header_nav {
  visibility: hidden;
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  min-height: 320px;
  padding-left: 20px;
  background: rgba(15, 37, 64, 0.9);
  opacity: 0;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.header_nav ul {
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 70px 0 40px 0;
}

.header_nav li {
  position: relative;
  right: -300px;
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 22.65248px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  letter-spacing: 0.2em;
  text-align: right;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.2s ease;
  transition: transform 0.4s ease, opacity 0.2s ease, -webkit-transform 0.4s ease;
}

.header_nav li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header_nav li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header_nav li:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header_nav li:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header_nav li:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.header_nav li a {
  color: #fff;
}

.header_nav.scrl {
  width: 600px;
  padding: 60px 30px 80px 30px;
  background: rgba(15, 37, 64, 0.95);
}

.header_nav_text {
  display: none;
}

.header_inner {
  position: relative;
  width: 100%;
  background: #1c1c1c;
  box-shadow: 0px 16px 35px rgba(0, 0, 0, 0.5);
}

.header_inner_text {
  text-align: center;
}

.header_inner_text h1 {
  margin: 0;
  padding-top: 10px;
  color: #fff;
  font-size: 59.30495px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3em;
}

.header_inner_text div {
  display: none;
}

.header_inner_text p {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.header_inner_text p a {
  color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header_inner_text p a:hover {
  color: #cccccc;
}

.header_inner_links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 20px;
}

.header_inner_links a {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  padding: 0;
  border-radius: 50%;
  color: #fff;
}

.header_inner_links .iStyle,
.header_inner_links i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.header_inner_links .iStyle {
  width: 20px;
  pointer-events: none;
}

.header_inner_links i {
  font-size: 20px;
}

.header_inner_links .i-mail {
  display: none;
}

.header_inner_links .i-cart {
  background: #009a9c;
}

.header_inner_links .i-cart svg {
  fill: #fff;
}

.header_inner_links .i-blog {
  background: #f57d00;
}

.header_inner_links .i-twt {
  background: #1da1f2;
}

.header_inner_links .i-inst {
  background: #c13584;
}

.open .header_hmg p {
  visibility: hidden;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.open .header_hmg span:nth-child(1) {
  top: 70%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.open .header_hmg span:nth-child(2) {
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.open .header_trg {
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
}

.open .header_nav {
  visibility: visible;
  opacity: 1;
}

.open .header_nav li {
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
  opacity: 1;
}

.slide-dots {
  display: -webkit-box;
  display: flex;
  z-index: 20;
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style-type: none;
}

.slide-dots li {
  margin-right: 32px;
}

.slide-dots li:last-child {
  margin: 0;
}

.slide-dots li div {
  width: 16px;
  height: 16px;
  border: 8px solid #fff;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.41));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.41));
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.slide-dots li div:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.slide-dots li.slick-active div {
  border: 3px solid #fff;
  background: none;
}

.slide-dots li.slick-active div:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
  background: #e4e4e4;
}

.main_wrap {
  max-width: 900px;
  margin: 0 auto;
}

.main .main_flex br {
  display: none;
}

.main .main_flex_text {
  margin: 50px 0;
}

.main .main_flex_text p {
  margin: 30px 0;
  line-height: 37px;
}

.main .main_flex_text .main-p-jp {
  font-family: "Noto Sans JP", sans-serif;
  text-align: justify;
}

.main .main_flex_text .main_p_eng {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08em;
}

.main .main_flex_text button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 70px;
  background: none;
}

.main .main_flex_text button a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 22.65248px;
  font-weight: 500;
}

.main .main_flex_img {
  text-align: center;
}

.main .main_flex_img img {
  max-width: 100%;
  max-height: 600px;
}

.news {
  position: relative;
  padding: 50px 15px;
  background: url(/images/imgNews.jpg);
  background-position: bottom 0 right 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.news_text {
  z-index: 10;
  position: relative;
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 20px;
  background: rgba(15, 37, 64, 0.6);
}

.news_text_wrap {
  padding: 15px 0;
  border-top: 1px solid #f5f5f5;
}

.news_text_wrap:last-child {
  margin-bottom: 40px;
  border-bottom: 1px solid #f5f5f5;
}

.news_text h1 {
  color: #fff;
}

.news_text h3 {
  min-width: 150px;
  margin: 0;
  color: #fff;
  font-weight: 400;
}

.news_text p {
  margin: 8px 0;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
}

.news_text a {
  margin: 8px 0;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  text-decoration: underline;
}

.works {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
  background: #e4e4e4;
}

.works h3 {
  bottom: 30px;
}

.works p {
  font-family: "Montserrat", sans-serif;
}

.works_wrap {
  max-width: 810px;
  margin: 0 auto;
}

.works_wrap p {
  margin: 0;
  font-size: 22.65248px;
  line-height: 2.5;
}

.works_wrap button {
  display: block;
  margin: 40px auto 20px auto;
  padding: 10px 30px;
  border: 3px solid #000;
  border-radius: 70px;
  background: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.works_wrap button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.works_wrap button a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 22.65248px;
  font-weight: 500;
}

.footer {
  width: 100%;
  padding: 30px 30px 20px 30px;
  background: #000;
  text-align: center;
}

.footer_sign {
  width: 100px;
  margin: 0 auto;
}

.footer_sign svg {
  fill: #5B622E;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 3px solid #5B622E;
}

.footer_contact {
  margin: 20px 0;
}

.footer_contact .i-mail {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 132px;
  margin: 0 auto;
  color: #5B622E;
}

.footer_contact .i-mail svg {
  fill: #5B622E;
  width: 45px;
  height: 30px;
  padding-right: 5px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer_contact .i-mail p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer_contact .i-mail:hover {
  color: #9ba74f;
}

.footer_contact .i-mail:hover svg {
  fill: #9ba74f;
}

.footer_bd {
  min-width: 200px;
  max-width: 250px;
  height: 1px;
  margin: 0 auto;
  background: #5B622E;
}

.footer_links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.footer_links a {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border: 1px solid #5B622E;
  border-radius: 50%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer_links a .iStyle,
.footer_links a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer_links a .iStyle {
  fill: #5B622E;
  width: 20px;
  height: 20px;
}

.footer_links a i {
  color: #5B622E;
  font-size: 20px;
}

.footer_links a:hover {
  border: 1px solid #9ba74f;
}

.footer_links a:hover .iStyle,
.footer_links a:hover i {
  fill: #9ba74f;
  color: #9ba74f;
}

.footer .small {
  margin-top: 25px;
  color: #5B622E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.glHeader {
  height: 60px;
}

.glHeader_hmg {
  z-index: 100;
  position: fixed;
  top: 30px;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.glHeader_hmg p {
  display: none;
}

.glHeader_hmg_btn {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.glHeader_hmg_btn span {
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.glHeader_hmg_btn span:nth-child(1) {
  top: 30%;
}

.glHeader_hmg_btn span:nth-child(2) {
  bottom: 30%;
}

.glHeader_nav {
  visibility: hidden;
  z-index: 20;
  position: fixed;
  right: 0px;
  bottom: 0;
  width: 100%;
  min-height: 320px;
  padding-left: 20px;
  background: #0f2540;
  opacity: 0;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.glHeader_nav ul {
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 70px 0 40px 0;
}

.glHeader_nav li {
  position: relative;
  right: -300px;
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 22.65248px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  letter-spacing: 0.2em;
  text-align: right;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.2s ease;
  transition: transform 0.4s ease, opacity 0.2s ease, -webkit-transform 0.4s ease;
}

.glHeader_nav li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.glHeader_nav li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.glHeader_nav li:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.glHeader_nav li:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.glHeader_nav li:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.glHeader_nav li a {
  color: #fff;
}

.glHeader_nav.scrl {
  width: 600px;
  padding: 60px 30px 80px 30px;
  background: rgba(15, 37, 64, 0.95);
}

.glHeader_nav_text {
  display: none;
}

.glHeader_nav_links {
  display: -webkit-box;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transform: translateY(320px);
          transform: translateY(320px);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.glHeader_nav_links a {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 20px 10px 20px 0;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

.glHeader_nav_links .iStyle,
.glHeader_nav_links i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.glHeader_nav_links .iStyle {
  width: 20px;
  pointer-events: none;
}

.glHeader_nav_links i {
  font-size: 20px;
}

.glHeader_nav_links .i-mail {
  display: none;
}

.glHeader_nav_links .i-cart svg {
  fill: #fff;
}

.glHeader_inner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #1c1c1c;
  box-shadow: 0px 16px 35px rgba(0, 0, 0, 0.5);
}

.glHeader_inner_text {
  position: relative;
  top: 50%;
  margin-left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.glHeader_inner_text .titleName {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 22.65248px;
  font-weight: 400;
  line-height: 1em;
}

.glHeader_inner_text .titleName span {
  margin-left: 8px;
  font-size: 8.65248px;
  font-weight: 300;
}

.glHeader_inner_text div {
  display: none;
}

.glHeader_inner_text p {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 5.34752px;
}

.glHeader_inner_text p a {
  color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.glHeader_inner_text p a:hover {
  color: #cccccc;
}

.open .glHeader_hmg span:nth-child(1) {
  top: 70%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.open .glHeader_hmg span:nth-child(2) {
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.open .glHeader_nav {
  visibility: visible;
  opacity: 1;
}

.open .glHeader_nav li {
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
  opacity: 1;
}

.open .glHeader_nav_text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.open .glHeader_nav_links {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (min-width: 480px) {
  .pfMain h1 {
    font-size: 67.77709px;
  }

  .pfMain_gallery figure {
    width: 25%;
  }

  .header_trg {
    border-top: 49px solid rgba(15, 37, 64, 0.7);
    border-right: 80px solid rgba(15, 37, 64, 0.7);
    border-bottom: 49px solid transparent;
    border-left: 80px solid transparent;
  }

  .header_hmg {
    right: 18px;
  }

  .header_hmg_btn {
    width: 40px;
    height: 40px;
  }

  .header_hmg_btn span {
    width: 40px;
  }

  .slide-dots li div {
    width: 18px;
    height: 18px;
    border: 9px solid #fff;
  }

  .main {
    padding: 50px;
  }

  .news {
    padding: 50px 50px;
  }

  .news_text_wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #f5f5f5;
  }

  .news_text_wrap:last-child {
    border-bottom: 1px solid #f5f5f5;
  }

  .news_text p,
  .news_text h3,
  .news_text a {
    margin: 0;
  }

  .news_text p,
  .news_text a {
    text-align: right;
  }

  .works {
    padding: 50px 50px;
  }

  .works_wrap button {
    margin-right: 0;
    margin-left: 0;
  }

  .works_wrap br {
    display: none;
  }

  .glHeader_hmg {
    right: 18px;
  }

  .glHeader_hmg_btn {
    width: 40px;
    height: 40px;
  }

  .glHeader_hmg_btn span {
    width: 40px;
  }
}

@media (min-width: 480px) and (min-width: 960px) {
  .news_text br {
    display: none;
  }
}

@media (min-width: 768px) {
  .header_nav ul {
    padding-top: 120px;
    padding-right: 60px;
    padding-bottom: 50px;
  }

  .main .main_flex {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .main .main_flex br {
    display: block;
  }

  .main .main_flex_text {
    -webkit-box-flex: 0;
            flex: 0 0 60%;
    margin: 0;
  }

  .main .main_flex_text button {
    margin: 100px 0;
  }

  .main .main_flex_img {
    margin-top: 50px;
  }

  .glHeader_nav ul {
    padding-top: 120px;
    padding-right: 60px;
    padding-bottom: 50px;
  }
}

@media (min-width: 960px) {
  h1 {
    font-size: 41.88854px;
  }

  h3 {
    font-size: 25.88854px;
  }

  p {
    font-size: 16px;
  }

  .pfMain {
    padding: 120px;
  }

  .pfMain_gallery figure {
    width: 20%;
  }

  .header_trg {
    border-top: 49px solid rgba(15, 37, 64, 0.7);
    border-right: 129px solid rgba(15, 37, 64, 0.7);
    border-bottom: 49px solid transparent;
    border-left: 129px solid transparent;
  }

  .header_hmg {
    display: -webkit-box;
    display: flex;
    top: 15px;
  }

  .header_hmg_btn {
    width: 30px;
    height: 30px;
  }

  .header_hmg_btn span {
    width: 30px;
  }

  .header_hmg p {
    display: block;
    position: relative;
    margin: auto 10px;
    margin-top: 7.5px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }

  .header_nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    width: 600px;
    background: rgba(15, 37, 64, 0.7);
  }

  .header_nav li {
    font-size: 25.88854px;
  }

  .header_nav ul {
    -webkit-box-flex: 0;
            flex: 0 0 78%;
  }

  .header_nav_text {
    display: block;
    margin-left: 40px;
  }

  .header_nav_text h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 25.88854px;
    font-weight: 400;
  }

  .header_nav_text p {
    color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 9.88854px;
    font-weight: 100;
  }

  .header_inner_text {
    display: -webkit-box;
    display: flex;
    text-align: left;
  }

  .header_inner_text h1 {
    margin-left: 30px;
    padding: 0;
    font-size: 67.77709px;
  }

  .header_inner_text div {
    display: block;
    width: 3px;
    height: 82px;
    margin: 0 20px;
    background: #fff;
  }

  .header_inner_text p {
    align-self: flex-end;
    margin-bottom: 18px;
  }

  .header_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }

  .header_inner_links {
    margin: 0;
    margin-right: 20px;
  }

  .header_inner_links .i-mail {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    width: 132px;
    margin-right: 10px;
    color: #fff;
  }

  .header_inner_links .i-mail .mail {
    fill: #fff;
    position: relative;
    width: 45px;
    height: 30px;
    padding-right: 5px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

  .header_inner_links .i-mail p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

  .header_inner_links .i-mail:hover {
    color: #cccccc;
  }

  .header_inner_links .i-mail:hover svg {
    fill: #cccccc;
  }

  .slide-dots {
    left: 50px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  .main h1 {
    letter-spacing: 0.2em;
  }

  .works_wrap p {
    font-size: 25.88854px;
  }

  .glHeader {
    height: 80px;
  }

  .glHeader_hmg {
    display: -webkit-box;
    display: flex;
    top: 40px;
  }

  .glHeader_hmg_btn {
    width: 30px;
    height: 30px;
  }

  .glHeader_hmg_btn span {
    width: 30px;
  }

  .glHeader_hmg p {
    display: block;
    position: relative;
    margin: auto 10px;
    margin-top: 7.5px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }

  .glHeader_nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 600px;
    background: #0f2540;
  }

  .glHeader_nav li {
    font-size: 25.88854px;
  }

  .glHeader_nav ul {
    -webkit-box-flex: 0;
            flex: 0 0 78%;
    padding-top: 80px;
  }

  .glHeader_nav_text {
    display: block;
    position: relative;
    margin-bottom: 30px;
    margin-left: 40px;
    -webkit-transform: translateY(520px);
            transform: translateY(520px);
    -webkit-transition: all 800ms;
    transition: all 800ms;
  }

  .glHeader_nav_text h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 25.88854px;
    font-weight: 400;
  }

  .glHeader_nav_text p {
    color: #fff;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 9.88854px;
    font-weight: 100;
  }

  .glHeader_nav_links {
    bottom: 22%;
    left: 60px;
    -webkit-transform: translateY(520px);
            transform: translateY(520px);
  }

  .glHeader_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    height: 80px;
  }

  .glHeader_inner_text {
    display: -webkit-box;
    display: flex;
    top: 0;
    -webkit-box-align: center;
            align-items: center;
    margin-left: 10px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    text-align: left;
  }

  .glHeader_inner_text .titleName {
    padding: 0;
    font-size: 41.88854px;
    font-weight: 500;
  }

  .glHeader_inner_text div {
    display: block;
    width: 2px;
    height: 52px;
    margin: 0 12px;
    background: #fff;
  }

  .glHeader_inner_text p {
    display: block;
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 9.88854px;
  }

  .open .glHeader_hmg span:nth-child(1) {
    top: 50%;
  }

  .open .glHeader_hmg span:nth-child(2) {
    bottom: 50%;
  }
}
/*# sourceMappingURL=style.css.map */
