@import "0_base/sanitize";
@import "1_mod/*.scss";
@import "0_base/setting";

.header {
  // position: relative;
  &_bg {
    // position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    // list-style-type: none;
    &_slide {
      padding: 0;
    }
    &_slide div {
      height: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    $tmp: "";
    // 先に変数を定義する
    @for $i from 1 through 5 {
      @if $i < 10 {
        $tmp: "00#{$i}";
      } @else if $i < 100 {
        $tmp: "0#{$i}";
      } @else {
        $tmp: $i;
      }
      // ゼロパディングの構文
      .img#{$tmp} {
        background-image: url(/images/image_#{$tmp}.jpg);
      }
    }
    &_scrIcon {
      position: absolute;
      top: 50%;
      right: 30px;
      margin: 0;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.8));

      transform: translateY(-35%);
      @include z-index(tooltip);
      p {
        margin: 0;
        margin-bottom: 10px;
        font-family: $monts;
        vertical-align: middle;
        font-weight: 500;
        font-size: ms(0);
        color: #fff;
        writing-mode: vertical-rl;
        letter-spacing: 0.4em;
        color: #fff;
      }
      .animeIcon {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-flow: column;
        .circle {
          position: absolute;
          top: -15px;
          width: 15px;
          height: 15px;
          border: 3px solid #fff;
          border-radius: 50%;
          animation: scrlDown 2.5s ease 0s infinite normal;
        }
        .line {
          position: relative;
          top: -95px;
          width: 2px;
          height: 80px;
          background: #fff;
          animation: scrlDown 2.5s ease 0s infinite normal;
        }
        @keyframes scrlDown {
          0% {
            transform: translate3d(0, 0, 0);
          }
          100% {
            transform: translate3d(0, 180px, 0);
          }
        }
      }
    }
  }
  &_trg {
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    @include z-index (modal) ;
    border-top: 43px solid rgba($color: #0f2540, $alpha: 0.7);
    border-right: 70px solid rgba($color: #0f2540, $alpha: 0.7);
    border-bottom: 43px solid transparent;
    border-left: 70px solid transparent;
    transition: all 500ms;
  }
  &_hmg {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    @include z-index(modal);
    span {
      position: absolute;
      width: 30px;
      height: 1.5px;
      background: #fff;
      transition: all 500ms;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
    }
  }

  &_nav {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0px;
    width: 100%;
    min-height: 320px;
    background: rgba($color: #0f2540, $alpha: 0.9);
    opacity: 0;
    transition: all 600ms;
    @include z-index(header);
    @include media() {
      background: rgba($color: #0f2540, $alpha: 0.7);
      width: 500px;
    }
    ul {
      margin: 0;
      padding: 80px 0;
      position: relative;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      @include media() {
        padding-top: 120px;
        padding-bottom: 150px;
        padding-right: 60px;
      }
    }
    li {
      position: relative;
      right: -300px;
      font-size: ms(1);
      font-family: $monts;
      letter-spacing: normal;
      padding: 0 30px;
      text-align: right;
      font-weight: 500;
      transition: transform 0.4s ease, opacity 0.2s ease;
      font-size: 20px;
      letter-spacing: 0.2em;
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
      &:nth-child(5) {
        transition-delay: 0.4s;
      }
      &:nth-child(6) {
        transition-delay: 0.5s;
      }
      &:nth-child(7) {
        transition-delay: 0.6s;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    &.scrl {
      background: rgba($color: #0f2540, $alpha: 0.95);
      padding: 100px 60px 100px 100px;
      width: 600px;
      // transform: scaleX(1.2);
    }
  }
  &_inner {
    width: 100%;
    position: relative;
    background: #1c1c1c;
    box-shadow: 0px 16px 35px rgba(0, 0, 0, 0.5);
    &_text {
      text-align: center;
      h1 {
        padding-top: 10px;
        font-family: $monts;
        color: #fff;
        font-weight: 500;
        font-size: ms(3);
        margin: 0;
        // fon@include : ms(3);
        line-height: 1.3em;
        @include media() {
          font-size: ms(3, $thread: ipad);
        }
      }
      h3 {
        font-family: $monts;
        color: #fff;
        font-weight: 300;
        font-size: ms(0);
        margin: 0;
        letter-spacing: 1.2px;
        @include media() {
          font-size: ms(0, $thread: ipad);
        }
      }
    }
    &_links {
      margin: 20px;
      display: flex;
      justify-content: center;
      a {
        position: relative;
        margin: 0 5px;
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #fff;
      }
      object,
      i {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        margin: auto;
      }
      object {
        width: 20px;
        pointer-events: none;
      }
      i {
        font-size: 20px;
      }
      .i-mail {
        background: #77822c;
      }
      .i-cart {
        background: #009a9c;
      }
      .i-twt {
        background: #1da1f2;
      }
      .i-inst {
        background: #c13584;
      }
    }
  }
}

.open .header {
  &_hmg {
    span:nth-child(1) {
      width: 30px;
      // height: 1.5px;
      transform: translate(0, 10px) rotate(45deg);
    }
    span:nth-child(2) {
      width: 30px;
      // height: 1.5px;
      transform: rotate(-45deg);
    }
  }
  &_trg {
    transform: translate(0, -200px);
  }
  &_nav {
    // transform: translate(-500px, 0);
    visibility: visible;
    opacity: 1;
    li {
      opacity: 1;
      transform: translate(-300px, 0);
    }
  }
}

.slide-dots {
  position: absolute;
  bottom: 20px;
  @include z-index(header);
  list-style-type: none;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  @include media(l) {
    left: 50px;
    transform: translateX(0);
  }
  li {
    margin-right: 32px;
    &:last-child {
      margin: 0;
    }
    div {
      cursor: pointer;
      width: 15px;
      height: 15px;
      // background: #fff;
      border: 7.5px solid #fff;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.41));
      transition: all 300ms;
      &:hover {
        transform: translateY(-3px);
      }
      @include media() {
        width: 17px;
        height: 17px;
        border: 8.5px solid #fff;
      }
    }
    &.slick-active div {
      border: 2.5px solid #fff;
      background: none;
      &:hover {
        transform: translateY(0px);
      }
      @include media() {
        border: 3px solid #fff;
      }
    }
  }
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.main {
  &_text {
    font-family: $notos;
    font-size: 60px;
  }
}
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

#wrapper {
  nav {
    position: fixed;
    background: rgba($color: #1b2835, $alpha: 0.9);
    top: 0;
    height: 100%;
    right: -300px;
    width: 300px;
    padding-top: 50px;
    @include z-index(tooltip);
    ul li {
      padding: 20px 40px;
      text-align: right;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    @include z-index(header);
    transition: all 500ms;
    span {
      position: absolute;
      width: 30px;
      height: 3px;
      background: #666;
      transition: all 500ms;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
      }
    }
  }
}

#wrapper .contents section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#wrapper .contents section p {
  position: absolute;
  top: 50%;
  width: 30%;
  line-height: 1.4;
  transform: translate(0, -50%);
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 6px #666;
}
