.pfMain {
  background: #000;
  padding: 30px 2px;
  @include media(l) {
    padding: 60px 0 60px 0;
  }
  .dummy {
    display: none;
  }
  h3,
  p {
    color: #fff;
    margin: 0 0 0 8px;
  }
  h1 {
    color: #fff;
    margin: 0;
    margin-bottom: 100px;
    @include media(m) {
      font-size: ms(3, $thread: l);
    }
  }
  h3 {
    margin-bottom: 8px;
    margin-top: 100px;
  }
  p {
    font-family: $notos;
    font-weight: 100;
    margin-bottom: 61px;
  }
  &_wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  // &_gallery {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // justify-content: center;
  //   a {
  //     margin: 0;
  //     // max-width: 200px;
  //     width: 50%;
  //     // max-height: 200px;
  //     padding: 2px;
  //     figure {
  //       display: none;
  //     }
  //     img {
  //       max-width: 100%;
  //       max-height: 100%;
  //     }
  //   }
  //   @include media(m) {
  //     a {
  //       width: 25%;
  //     }
  //   }
  //   @include media(l) {
  //     a {
  //       width: 20%;
  //     }
  //   }
  // }
}
