.glbg {
  &_co {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100%;
    position: relative;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 30% center;
    background-image: url(/images/gallery/2020/img001.jpg);
    // margin-bottom: 30%;
  }
}

.woMain {
  background: #e4e4e4;
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 10px;
  @include media(m) {
    padding: 50px 40px;
  }
  p {
    font-weight: 100;
  }
  ul li {
    list-style-type: none;
    margin: 0.5em 0;
    font-family: $notos;
    font-weight: 100;
    font-size: ms(0);
    letter-spacing: 0.08em;
    @include media(l) {
      font-size: ms(0, $thread: l);
    }
  }
  ul {
    padding: 0;
  }
  span {
    font-family: $notos;
    font-weight: 300;
    font-size: ms(1, $thread: s);
    @include media(l) {
      font-size: ms(1, $thread: l);
    }
  }
  h3 {
    font-weight: 400;
    font-size: ms(1);
    margin: 40px 0;
    @include media(m) {
      font-size: ms;
    }
    @include media(l) {
      font-size: ms(2, $thread: l);
    }
  }
  h4 {
    font-family: $notos;
    font-weight: 500;
    font-size: ms(1);
    margin-left: 1em;
    @include media(m) {
      font-size: ms(1);
    }
    @include media(l) {
      font-size: ms(1, $thread: l);
    }
  }
  &_vimeo {
    display: flex;
    flex-direction: column;
    width: 100%;
    div {
      margin: 20px 0;
      width: 100%;
      padding: 56.25% 0 0 0;
      position: relative;
    }
    @include media(l) {
      display: flex;
      flex-direction: row;
      div {
        margin: 10px;
        width: 50%;
        padding: 28.12% 0 0 0;
      }
    }
  }
  &_works {
    width: 80%;
    margin: 0 auto;
    @include media(m) {
      width: 100%;
      max-width: 700px;
    }
    @include media(l) {
      max-width: 98%;
      display: flex;
      flex-wrap: wrap;
    }
    &_text {
      margin-left: 30px;
      button {
        cursor: pointer;
        padding: 0.5em 20px;
        background: none;
        border: 2px solid #000;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
        p {
          font-size: ms(0, $thread: s);
          font-family: $monts;
          font-weight: 500;
          color: #000;
          margin: 0;
          @include media(l) {
            font-size: ms(0, $thread: l);
          }
        }
      }
    }
    &_inner {
      // text-align: center;
      margin: 50px 0;
      @include media(m) {
        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
          margin: 0 20px;
          text-align: right;
        }
      }
      @include media(l) {
        width: 50%;
        div {
          text-align: left;
        }
      }
      img {
        width: 100%;
      }
    }
  }
  .bookTitle {
    font-size: ms(1, $thread: s);
    @include media(l) {
      font-size: ms(0, $thread: l);
      font-weight: 300;
    }
    margin-bottom: 15px;
  }
  &_iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_inner {
      text-align: center;
      width: 100%;
      height: 500px;
      padding: 40px 0px;
      iframe {
        max-width: 480px;
      }
    }
    @include media(l) {
      flex-wrap: wrap;
      flex-direction: row;
      &_inner {
        width: 50%;
        height: 550px;
        text-align: center;
        padding: 40px 20px;
      }
    }
  }
}
